body {
	background: url(Images/STadventure.gif);
	background-size: 1475px 920px;
	background-repeat: repeat;
	font-family: lucida, cursive;
}
h1 {
	color: #000000;
	text-align: center;
	text-shadow: 2px 2px 3px #FF1515, 0 0 28px #FF1515, 0 0 8px #FF1515;
	font-family: lucida, cursive;
}
a {
	color: #000000;
}
img {
	width: 300;
	height: 400;
	border: 3px solid;
	border-color: #FF1515;

}
#page-wrap {
	width: 650px;
	margin: 0 auto;
	text-align: center;
}
.first {
	display: inline-block;
	position: relative;
	width: 80%;
	height: 360px;
	margin: 25px;
	border: 3px solid #FF1515;
	overflow: scroll;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}